.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: rgb(119, 38, 6);
}

.dialog>a {
    color: rgb(119, 38, 6);
    text-decoration: none;
}

.dialogsItems {
    padding: 20px;
}

.messages {
    padding: 20px;
}

.active>a {
    color: darkorange;
}